@import url("../../global.module.css");
.BarraNavega .ImgProduto {
  width: 200px;
}
.BarraNavega .NomePorduto {
  font-size: 24px;
}
.Layout_Quantidade {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Layout_Quantidade .Quantidade {
  font-size: 24px;
}
.Layout_Quantidade button {
  background: var(--cor-azul);
  text-align: center;
  font-size: 20px;
  border-radius: 12%;
  border: none;
  color: var(--cor-branca);
  background: var(--cor-azul);
}
