@import url("../../global.module.css");
.CardProdutos {
  width: 400px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--cor-cinzento);
  background: var(--cor-branca);
  border: solid 1px var(--cor-cinza);
  box-shadow: 1px 1px 10px 0px;
}
.CardProdutos .Produto_Img {
  margin: 0px;
  width: 400px;
  padding: 0px;
  transition: 1s;
  overflow: hidden;
}
.CardProdutos .Produto_Img .Img {
  background-repeat: repeat;
  width: 400px;
  height: 250px;
  cursor: pointer;
}
.CardProdutos .Produto_Img .Img:hover {
  transition: transform 0.5s;
  transform: scaley(1.2) scaleX(1.2);
}
.CardProdutos .Produto_Texto {
  display: grid;
  padding: 10px;
  justify-self: flex-start;
  align-items: center;
  justify-items: center;
  gap: 20px;
  font-size: 20px;
  grid-template-areas:
    "Nome Nome"
    "Descricao Preco"
    " Adds Adds";
}
.CardProdutos .Produto_Texto .Produto_Nome {
  font-size: 40px;
  font-weight: 700;
  grid-area: Nome;
}
.CardProdutos .Produto_Texto .Produto_Descricao {
  font-size: 16px;
  margin-bottom: 2px;
  width: 200px;
  font-weight: 400;
  grid-area: Descricao;
}
.CardProdutos .Produto_Texto .Preco {
  grid-area: Preco;
}
.CardProdutos .Produto_Texto .Add {
  border: none;
  background: var(--cor-azul);
  color: var(--cor-branca);
  width: 200px;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 20px;
  grid-area: Adds;
  cursor: pointer;
}
@media (max-width: 500px) and (min-width: 0px) {
  .CardProdutos {
    width: 80%;
  }
  .CardProdutos .Produto_Img {
    width: 100%;
    height: 200px;
  }
  .CardProdutos .Produto_Img .Img {
    background-repeat: repeat;
    width: 400px;
    height: 80%;
    cursor: pointer;
  }
  .CardProdutos .Produto_Texto .Produto_Nome {
    font-size: 24px;
  }
  .CardProdutos .Produto_Texto .Produto_Descricao {
    font-size: 14px;
  }
}
